<!--The content below is only a placeholder and can be replaced.-->


<router-outlet></router-outlet>
<!--
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>


</div>


<input type="text" [(ngModel)]="str">
<button (click)="searchEmp()">Search Employee</button><br><br>


<button (click) = "demo()"> Submit </button>
<div>
  {{Status}}
  <button (click) = "clicked()">Click</button>
</div>
<table class="table table-hover">
<thead>
<tr>
    <td>Id</td>
    <td>Title</td>
    <td>Amount</td>
</tr>
</thead>

</table>
-->
